Repository 1ab-io/d2-infra: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-release-validation, kustomization-validation

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v5.0.0
  #   hooks:
  #     - id: trailing-whitespace
  #     - id: end-of-file-fixer
  #     - id: check-yaml
  #     - id: check-added-large-files
  - repo: local
    hooks:
      - id: helm-release-validation
        name: Validate Helm releases
        entry: ./scripts/validate-helm.sh
        language: system
        types: [yaml]
        files: ^components/.*/controllers/base/release\.yaml$
      - id: kustomization-validation
        name: Validate kustomization files
        entry: sh -c 'kustomize build --enable-alpha-plugins --enable-exec "$(dirname "$1")" >/dev/null'
        language: system
        types: [yaml]
        files: ^components/.*/kustomization\.yaml$

fix: job
  manifests/cert-manager.config.yaml
  manifests/cert-manager.yaml
  manifests/cilium.config.yaml
  manifests/cilium.yaml
  manifests/external-secrets.yaml
  manifests/flux-operator.yaml
  manifests/talos-ccm.yaml
Due: none

fix: network policy values
  components/cilium/configs/base/default-deny.yaml
  components/cilium/configs/base/kustomization.yaml
  components/cilium/configs/production/kustomization.yaml
  components/cilium/configs/staging/kustomization.yaml
  components/external-secrets/controllers/base/release.yaml
  components/flux-operator/controllers/base/release.yaml
  components/talos-ccm/controllers/base/release.yaml
Due: helm-release-validation, kustomization-validation

fix: dev
  components/cert-manager/controllers/base/namespace.yaml
  components/cert-manager/controllers/base/release.yaml
  components/cilium/controllers/base/release.yaml
  components/cilium/controllers/dev/kustomization.yaml
Due: helm-release-validation, kustomization-validation

fix: cert
  manifests/cilium.yaml
  manifests/external-secrets.yaml
  manifests/flux-operator.yaml
Due: none

fix: node hostname
  components/ingress-nginx/controllers/base/release.yaml
Due: helm-release-validation

feat: gitlab
  .github/workflows/push-artifact.yaml
  components/gitlab-agent/base/kustomization.yaml
  components/gitlab-agent/base/release.yaml
  components/gitlab-agent/base/repository.yaml
  components/gitlab-agent/production/kustomization.yaml
  components/gitlab-agent/staging/kustomization.yaml
  components/gitlab-runner/base/kustomization.yaml
  components/gitlab-runner/base/release.yaml
  components/gitlab-runner/base/repository.yaml
  components/gitlab-runner/production/kustomization.yaml
  components/gitlab-runner/staging/kustomization.yaml
Due: kustomization-validation

feat: ingress nginx
  .github/workflows/push-artifact.yaml
  components/ingress-nginx/configs/base/kustomization.yaml
  components/ingress-nginx/configs/production/kustomization.yaml
  components/ingress-nginx/configs/staging/kustomization.yaml
  components/ingress-nginx/controllers/base/kustomization.yaml
  components/ingress-nginx/controllers/base/modsecurity-plugins.yaml
  components/ingress-nginx/controllers/base/namespace.yaml
  components/ingress-nginx/controllers/base/release.yaml
  components/ingress-nginx/controllers/base/repository.yaml
  components/ingress-nginx/controllers/production/kustomization.yaml
  components/ingress-nginx/controllers/staging/kustomization.yaml
Due: helm-release-validation, kustomization-validation

fix: bump cilium
  components/cilium/controllers/base/release.yaml
  components/cilium/controllers/base/repository.yaml
Due: helm-release-validation

fix: policy
  components/cilium/controllers/base/release.yaml
  components/monitoring/controllers/base/namespace.yaml
  manifests/cilium.yaml
Due: helm-release-validation

fix: tag
  components/github-runner/base/repository.yaml
Due: none

fix: dev env
  components/cert-manager/configs/dev/kustomization.yaml
  components/cert-manager/controllers/dev/kustomization.yaml
  components/cilium/configs/dev/kustomization.yaml
  components/cilium/controllers/dev/kustomization.yaml
  components/external-secrets/controllers/dev/kustomization.yaml
  components/flux-operator/controllers/dev/kustomization.yaml
  components/github-runner/dev/kustomization.yaml
  components/gitlab-agent/dev/kustomization.yaml
  components/gitlab-runner/dev/kustomization.yaml
  components/ingress-nginx/configs/dev/kustomization.yaml
  components/ingress-nginx/controllers/dev/kustomization.yaml
  components/monitoring/configs/dev/kustomization.yaml
  components/monitoring/controllers/dev/kustomization.yaml
  components/tailscale-operator/dev/kustomization.yaml
  components/talos-ccm/controllers/dev/kustomization.yaml
  components/velero/controllers/dev/kustomization.yaml
Due: kustomization-validation

fix: external secrets patch
  manifests/external-secrets.yaml
Due: none

feat: tailscale
  .github/workflows/push-artifact.yaml
  components/tailscale-operator/base/kustomization.yaml
  components/tailscale-operator/base/release.yaml
  components/tailscale-operator/base/repository.yaml
  components/tailscale-operator/production/kustomization.yaml
  components/tailscale-operator/staging/kustomization.yaml
Due: kustomization-validation

fix: tailscale
  components/tailscale-operator/base/release.yaml
Due: none

fix: certs
  components/cert-manager/configs/base/bitwarden-issuer.yaml
  components/cert-manager/configs/base/kustomization.yaml
  components/external-secrets/controllers/base/kustomization.yaml
  manifests/cert-manager.config.yaml
Due: kustomization-validation

feat: github runner
  .github/workflows/push-artifact.yaml
  components/github-runner/base/kustomization.yaml
  components/github-runner/base/release.yaml
  components/github-runner/base/repository.yaml
  components/github-runner/production/kustomization.yaml
  components/github-runner/staging/kustomization.yaml
Due: kustomization-validation

fix: pre
  .pre-commit-config.yaml
  .tool-versions
  components/cert-manager/controllers/base/release.yaml
  manifests/cert-manager.yaml
  manifests/cilium.yaml
  manifests/external-secrets.yaml
  scripts/validate-helm.sh
Due: helm-release-validation

feat: runner
  components/github-runner/base/release.yaml
Due: none

fix: owner
  components/github-runner/base/release.yaml
Due: none

fix: issuer
  components/cert-manager/controllers/base/namespace.yaml
  components/cert-manager/controllers/base/release.yaml
Due: helm-release-validation

fix: monitoring
  components/monitoring/controllers/base/kube-prometheus-stack.yaml
Due: none

fix: monitoring
  components/cert-manager/controllers/base/release.yaml
  components/external-secrets/configs/base/cluster-generator.yaml
  components/external-secrets/configs/base/kustomization.yaml
  components/external-secrets/configs/dev/kustomization.yaml
  components/external-secrets/configs/production/kustomization.yaml
  components/external-secrets/configs/staging/kustomization.yaml
  components/monitoring/controllers/base/external-secret.yaml
  components/monitoring/controllers/base/kustomization.yaml
  components/monitoring/controllers/base/secret-store.yaml
Due: helm-release-validation, kustomization-validation

fix: cert
  components/cert-manager/controllers/base/cert-manager.yaml
Due: none

fix: cert
  components/cert-manager/controllers/base/namespace.yaml
Due: none

fix: host port 10250
  components/cert-manager/controllers/base/release.yaml
  components/monitoring/controllers/base/metrics-server.yaml
Due: helm-release-validation

fix: k8s service vars
  components/cilium/controllers/base/release.yaml
Due: helm-release-validation

fix: pin versions
  components/external-secrets/controllers/base/release.yaml
  components/velero/controllers/base/release.yaml
Due: helm-release-validation

feat: gitops web ui
  components/flux-operator/controllers/base/release.yaml
Due: helm-release-validation

fix: version
  components/velero/controllers/base/release.yaml
Due: helm-release-validation

fix: flux operator
  components/flux-operator/controllers/base/release.yaml
  components/flux-operator/controllers/base/repository.yaml
Due: helm-release-validation

fix: flux operator
  .github/workflows/push-artifact.yaml
  components/flux-operator/controllers/base/kustomization.yaml
  components/flux-operator/controllers/base/namespace.yaml
  components/flux-operator/controllers/base/release.yaml
  components/flux-operator/controllers/base/repository.yaml
  components/flux-operator/controllers/dev/kustomization.yaml
  components/flux-operator/controllers/production/kustomization.yaml
  components/flux-operator/controllers/staging/kustomization.yaml
  scripts/helm-template.sh
Due: helm-release-validation, kustomization-validation

feat: storage
  .github/workflows/push-artifact.yaml
  components/monitoring/controllers/base/kube-prometheus-stack.yaml
  components/openebs/configs/base/bitwarden-issuer.yaml
  components/openebs/configs/base/kustomization.yaml
  components/openebs/configs/base/letsencrypt-issuer.yaml
  components/openebs/configs/base/selfsigned-issuer.yaml
  components/openebs/configs/dev/kustomization.yaml
  components/openebs/configs/production/kustomization.yaml
  components/openebs/configs/staging/kustomization.yaml
  components/openebs/controllers/base/kustomization.yaml
  components/openebs/controllers/base/namespace.yaml
  components/openebs/controllers/base/release.yaml
  components/openebs/controllers/base/repository.yaml
  components/openebs/controllers/dev/kustomization.yaml
  components/openebs/controllers/production/kustomization.yaml
  components/openebs/controllers/staging/kustomization.yaml
Due: helm-release-validation, kustomization-validation

fix: openebs loki
  components/openebs/controllers/base/release.yaml
Due: helm-release-validation

fix: storage
  components/openebs/controllers/base/namespace.yaml
  components/openebs/controllers/base/release.yaml
Due: helm-release-validation
